# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/workspace.xml
.idea/vcs.xml
.idea/projectfestival.iml
.idea/modules.xml
.idea/encodings.xml
.idea/misc.xml
out/production/project/Walls.jpg
out/production/project/prison_time_the_jason.json
out/production/project/prison_time.json
out/production/project/prison_image_set_2.png
out/production/project/prison_image_set_1.png
out/production/project/prison_image_set2.png
out/production/project/prison_image_set1.png
out/production/project/prison time the jason.json
out/production/project/map.png
out/production/project/1464959063_preview_tileset.jpg
